body {
    background-image: linear-gradient(to bottom,
            #00a884 0px,
            #00a884 15vh,
            #e8e9ec 15vh,
            #e8e9ec 100vh);
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

nav {
    height: 12vh;
}

.ricerca {
    background-color: #f8f9fa;
}

.main {
    min-height: 75vh;
}

.users {
    overflow: auto;
    height: 60vh;
    background-color: white;
}

.user {
    cursor: pointer;
}

.orarioSms {
    font-size: 0.7rem;
}

.last-message {
    font-size: 0.9rem;
}

.chat {
    min-height: 70vh;
    background-image: url(../img/mine.jpg);
    overflow: auto;
}

.chat-col {
    width: 70%;
}

.message {
    max-width: 70%;
    border-radius: 5px;
    text-align: right;
}

.message p {
    text-align: left;
}

.message.received {
    background-color: white;
}

.message.sent {
    background-color: lightgreen;
    align-self: flex-end;
}

.message-date {
    font-size: 0.7rem;
    color: gray;
}

.active {
    background-color: lightgray;
}

.message-info {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    padding: 10px;
    width: 120px;
    text-align: left;
    border-radius: 10px;
}